<section id="about-navigation" class="relative py-20 bg-section font-hacen">
    <div class="container relative z-10">
        <div class="flex flex-col lg:flex-row items-center justify-between gap-12 border- pt-16">

            <div class="lg:w-1/2 text-center lg:text-left">
                <h3 class="text-4xl lg:text-5xl font-bold text-spu-blue leading-tight">
                    <template x-if="$store.app.currentLang === 'ar'">
                        <span>استكشف المزيد عن الجامعة</span>
                    </template>
                    <template x-if="$store.app.currentLang !== 'ar'">
                        <span>Learn More About SP<span class="text-spu-red">U</span></span>
                    </template>
                </h3>
            </div>

            <div class="lg:w-1/2 grid grid-cols-2 gap-4">
                <template x-for="sub in $store.aboutPage.subPages" :key="sub.id">
                    <a :href="sub.link" @click="$store.aboutPage.navigate($event, sub.id)"
                        class="group relative flex items-center justify-center h-40 px-6 rounded-md bg-white border border-slate-100 shadow-md transition-all duration-300 hover:bg-spu-blue hover:border-spu-blue hover:-translate-y-1">

                        <h4 class="text-xl font-bold text-spu-blue transition-colors duration-300 group-hover:text-white text-center"
                            x-text="$store.app.currentLang === 'ar' ? sub.titleAr : sub.titleEn">
                        </h4>

                    </a>
                </template>

                <template x-for="item in $store.facilitiesPage.currentFacility?.highlights?.items" :key="item.id">
                    <div
                        class="group relative flex flex-col items-center justify-center h-44 px-6 rounded-md bg-white shadow-md transition-all duration-300 hover:bg-spu-blue hover:-translate-y-1 overflow-hidden">
                
                        <div class="text-center transition-all duration-500 group-hover:opacity-0 group-hover:scale-50">
                            <h4 class="text-[20px] font-bold text-spu-blue group-hover:text-white"
                                x-text="$store.app.currentLang === 'ar' ? item.titleAr : item.titleEn">
                            </h4>
                        </div>

                        <a :href="item.link"
                            class="absolute inset-0 flex items-center justify-center bg-spu-blue opacity-0 group-hover:opacity-100 transition-all duration-300 text-white font-bold text-lg">
                            <span x-text="$store.app.currentLang === 'ar' ? 'عرض التفاصيل' : 'View Details'"></span>
                        </a>

                    </div>
                </template>
            </div>

        </div>
    </div>
</section>