<section x-data class="relative h-[973px] w-full overflow-hidden font-hacen bg-spu-blue">

    <template x-for="(img, index) in $store.hero.images" :key="index">
       
        <div x-show="$store.hero.currentIndex === index" x-transition:enter="transition ease-out duration-1000"
            x-transition:enter-start="opacity-0 transform scale-105" x-transition:enter-end="opacity-100 transform scale-100"
            x-transition:leave="transition ease-in duration-1000" x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0" class="absolute inset-0">
        
            <img :src="img" class="w-full h-full object-cover">
        
        </div>
    </template>

    <div class="container relative z-10 flex items-center text-white h-full">
        
        <div class="w-full max-w-[722px] pt-[263px] h-full relative">
            <div class="blur-3xl absolute top-10 left-0 z-0 w-full h-full">
                <div class="w-full h-full bg-spu-blue opacity-40 "></div>
            </div>
            <h1 class="  uppercase bg-transparent w-[636px] top-[173px]  h-[77px] relative  z-10 font-hacen font-bold leading-tight text-[42px] "
            x-text="$store.app.currentLang === 'ar' ? $store.hero.titleAr : $store.hero.titleEn">
            </h1>

            <p class="line-height-100 inset-0 text-[24px] top-[173px] relative z-10 font-normal  w-[499px] h-[74px]"
                x-text="$store.app.currentLang === 'ar' ? $store.hero.subtitleAr : $store.hero.subtitleEn">
            </p>

            <div class="flex flex-wrap gap-[17.02px] top-[173px] mt-[38px] relative z-10 cursor-pointer">
                <a href="#"
                    class="bg-spu-red text-white px-8 py-4 rounded-[12px] font-bold hover:scale-105 transition shadow-lg">
                    <span
                        x-text="$store.app.currentLang === 'ar' ? $store.hero.primaryBtnAr : $store.hero.primaryBtnEn"></span>
                </a>
                <a href="#"
                    class="border-2 border-white/20 bg-white/10 backdrop-blur-[12px] text-white px-8 py-4 rounded-[12px] font-bold hover:bg-white hover:text-spu-blue transition">
                    <span
                        x-text="$store.app.currentLang === 'ar' ? $store.hero.secondaryBtnAr : $store.hero.secondaryBtnEn"></span>
                </a>
            </div>
        </div>
    </div>
<!--  -->
</section>