<section x-data class="relative flex h-[400px] items-center justify-center overflow-hidden font-hacen">
    <!-- Background Image with Overlay -->
    <div class="absolute inset-0 z-0">
        <img :src="$store.contactPage.hero.bgImage" alt="Contact Hero" class="h-full w-full object-cover">
        <div class="absolute inset-0 bg-spu-blue/60 backdrop-blur-[2px]"></div>
    </div>

    <div class="container relative z-10 text-center">
        <h1 class="text-4xl font-bold tracking-wider text-white md:text-5xl lg:text-6xl" 
            x-text="$store.app.currentLang === 'ar' ? $store.contactPage.hero.titleAr : $store.contactPage.hero.titleEn"></h1>
    </div>
</section>
