<section id="campus-map" x-data class="relative font-hacen">
    <span id="accessibility" class="sr-only"></span>
    
    <div class="container">
        <h2 class="mb-8 text-center text-[44px] font-bold text-spu-blue">
            <span x-text="$store.app.currentLang === 'ar' ? $store.contactPage.location.titleAr : $store.contactPage.location.titleEn"></span>
        </h2>
    </div>

    <div class="relative h-[400px]">
        <div class="relative h-full w-full">
            <iframe :src="$store.footer.location.mapUrl"
                class="h-full w-full grayscale-[0.2] transition-all duration-700 hover:grayscale-0" 
                style="border:0;"
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>
