<section class="relative h-[70vh] md:h-[100vh] flex items-center " x-data>
    <img :src="$store.facultiesPage.currentFaculty?.heroImage"
        class="absolute inset-0 w-full h-full object-cover transition-transform duration-[3000ms]"
        :class="$store.facultiesPage.loading ? 'scale-110 blur-sm' : 'scale-100 blur-0'">

    <div :style="`background: linear-gradient(90deg, 
        #${$store.facultiesPage.currentFaculty?.color.replace('#', '')}CC 0%, 
        #${$store.facultiesPage.currentFaculty?.color.replace('#', '')}00 50%, 
        #${$store.facultiesPage.currentFaculty?.color.replace('#', '')}00 80%)`" class="absolute inset-0">
    </div>

    <div class="container relative z-10  mt-20">
        <div class="max-[929px]">

            <h1 class="text-white text-[50px] font-bold  uppercase mb-2 "
                x-text="$store.app.currentLang === 'ar' ? $store.facultiesPage.currentFaculty?.top_labelar : $store.facultiesPage.currentFaculty?.top_labelen">
            </h1>
            <p class="text-3xl md:text-[40px] font-normal text-white  mb-4 uppercase"
                x-text="$store.app.currentLang === 'ar' ? $store.facultiesPage.currentFaculty?.nameAr : $store.facultiesPage.currentFaculty?.nameEn">
            </p>
            <div class="flex flex-wrap gap-5">
                <button :style="`color: #${$store.facultiesPage.currentFaculty?.color.replace('#', '')}`"
                   class="px-10 py-4  bg-white font-bold rounded-[8px] transition-all duration-500 ease-in-out hover:text-white hover:scale-105"
                    x-text="$store.app.currentLang === 'ar' ? 'استكشاف البرامج' : 'Explore Programs'"></button>
                <button
                    class="px-10 py-4 border-2  text-white font-bold rounded-[8px] hover:bg-white hover:text-spu-blue transition-all backdrop-blur-sm uppercase tracking-wider text-sm"
                    x-text="$store.app.currentLang === 'ar' ? 'القبول والتسجيل' : 'Admissions'"></button>       
            </div>
        </div>
    </div> 

    <div class="z-40 absolute w-[582px] h-[388px] top-[70vh]  left-[55%] -translate-x-[50%] ">
        <img :src="$store.facultiesPage.currentFaculty?.logo" alt="$store.facultiesPage.currentFaculty?.nameEn" class=""
        :class="$store.facultiesPage.loading ? 'scale-110 blur-sm' : 'scale-100 blur-0'">
    </div>
</section>